<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          <mu-button icon slot="left">
          </mu-button>
            <mu-button @click="open = !open" small flat slot="right">
              <mu-icon left value="edit"></mu-icon>
              筛选
            </mu-button>
          我的任务
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmorecontent">
        <mu-paper v-if="data1.length==0" class="demo-paper" :z-depth="1">
          <div style="color: #666; padding: 2rem">没有查到数据</div>
        </mu-paper>
          <mu-load-more  :refreshing="refreshing" :loading="loading" @load="load">
            <mu-list class="business" textline="two-line">
              <div v-for="item in data1">
                <mu-list-item @click="toDetail(item)" to="/busiDetail" avatar :ripple="false" button>
                  <mu-list-item-content>
                    <mu-list-item-title>{{item.taskName}}</mu-list-item-title>
                    <mu-list-item-sub-title style="color: #666;font-size: 12px">发布人：{{item.creatorName}} </mu-list-item-sub-title>
                    <mu-list-item-sub-title style="color: #666;font-size: 12px">{{item.taskType=='1'?'全员任务':(item.taskType=='2'?'团队任务':(item.taskType=='3'?'定向任务':'抢单任务'))}} </mu-list-item-sub-title>
                  </mu-list-item-content>
                  <mu-list-item-action >
                    <mu-list-item-after-text>
                      <span v-show="item.taskFinishStatus=='1'" style="color:green">待审批</span>
                      <span v-show="item.taskFinishStatus=='0'" style="color:red">待提交</span>
                      <span v-show="item.taskFinishStatus=='2'" style="color:green">审批通过</span>
                      <span v-show="item.taskFinishStatus=='3'" style="color:red">审批不通过</span>
                      <span v-show="item.taskFinishStatus=='9'" style="color:red">抢单待审批</span>
                      <span v-show="item.taskFinishStatus=='8'" style="color:red">抢单拒绝</span>

                    </mu-list-item-after-text>
                    <mu-list-item-after-text>
                      <mu-list-item-sub-title style="font-size: 12px">截止：{{item.expTime}} </mu-list-item-sub-title>
                    </mu-list-item-after-text>
                    <!--<mu-checkbox color="yellow700" value="value1" uncheck-icon="star_border" checked-icon="star"></mu-checkbox>-->
                  </mu-list-item-action>
                </mu-list-item>
                <mu-divider></mu-divider>
              </div>
            </mu-list>
          </mu-load-more>
        <mu-drawer :open.sync="open" :docked="docked" right>
          <mu-paper :z-depth="1">
            <mu-sub-header>任务类型</mu-sub-header>
            <mu-row>
              <mu-col v-for="(item,index) in busiType" :key="index" span="4">
                <mu-button @click="setTaskType(item.paramKey)" style="margin-top: .5rem" small :color="taskType==item.paramKey?'success':''">{{item.paramValue}}</mu-button>
              </mu-col>
            </mu-row>
          </mu-paper>
          <mu-paper :z-depth="1">
            <mu-sub-header>任务完成状态</mu-sub-header>
            <mu-row>
              <mu-col @click="setTaskSta(item.paramKey)" v-for="(item,index) in busiState" :key="index" span="4">
                <mu-button style="margin-top: .5rem" small :color="taskStatus==item.paramKey?'success':''">{{item.paramValue}}</mu-button>
              </mu-col>
            </mu-row>
          </mu-paper>
          <mu-paper :z-depth="1">
            <mu-sub-header>任务截止日期</mu-sub-header>
            <mu-row>
              <mu-col @click="setTime(item.paramKey)" v-for="(item,index) in timeRange" :key="index" span="4">
                <mu-button style="margin-top: .5rem" small :color="times==item.paramKey?'success':''">{{item.paramValue}}</mu-button>
              </mu-col>
              <!--<mu-col span="4"><mu-button small :value="btColor">全部</mu-button></mu-col>-->
              <!--<mu-col span="4"><mu-button small :value="btColor">本周</mu-button></mu-col>-->
              <!--<mu-col span="4"><mu-button small :value="btColor">本月</mu-button></mu-col>-->
            </mu-row>
            <!--<mu-row style="margin-top: 4px">-->
              <!--<mu-col span="4"><mu-button small :value="btColor">三个月</mu-button></mu-col>-->
              <!--<mu-col span="4"><mu-button small :value="btColor">半年</mu-button></mu-col>-->
            <!--</mu-row>-->
          </mu-paper>
          <mu-button @click="search" full-width color="teal">搜索</mu-button>
        </mu-drawer>
      </mu-container>
    </div>
</template>
<script>
  //{{detailData.taskFinishStatus=='1'?'已完成':(detailData.taskFinishStatus=='0'?'未完成':(detailData.taskFinishStatus=='2'?'审核通过':'审核不通过'))}}
  export default {
        data() {
            return {
              pageNo:1,
              taskStatus:'',
              taskType:'',
              busiType:[],
              timeRange:[
                {
                  paramKey:'',
                  paramValue:'全部'
                },
                {
                  paramKey:'7',
                  paramValue:'本周'
                },
                {
                  paramKey:'30',
                  paramValue:'本月'
                },
                {
                  paramKey:'60',
                  paramValue:'三个月'
                },
                {
                  paramKey:'180',
                  paramValue:'半年'
                },
              ],
              busiState:[
                {
                  paramKey:'',
                  paramValue:'全部'
                },
                {
                  paramKey:'0',
                  paramValue:'待提交'
                },{
                  paramKey:'1',
                  paramValue:'待审批'
                },{
                  paramKey:'2',
                  paramValue:'审批通过'
                },{
                  paramKey:'3',
                  paramValue:'审批不通过'
                },
              ],
              data1:[],
              btColor:'delelte',
              busiTime:[],
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              docked: false,
              open: false,
              position: 'left',
              times:''
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getList()
          this.queryState()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          toDetail(val){
            this.$store.commit('setCurrentData',val)
            this.$router.push('busiDetail')
          },
          search(){
            this.pageNo=1
            this.data1=[]
            this.getList()
          },
          getList(){
            let _this = this
            _this.$store.commit('setLoading',true)
            _this.open=false
            this.$axios({
              method: 'post',
              url: '/findTaskAuditList',
              data: {
                pageNo:this.pageNo,
                taskFinishStatus:this.taskStatus,//任务状态
                taskType:this.taskType,//任务类型
                userId:this.$store.state.userInfo.userId,
                taskTimeInterval:this.times,
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                let temp=res.data.data.dataList
                for(let i=0;i<temp.length;i++){
                  _this.data1.push(temp[i])
                }
                //_this.data1.concat(res.data.data.dataList)
                //alert(JSON.stringify(res.data.data.dataList))
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
          queryState(){
            let _this = this
            this.$axios({
              method: 'post',
              url: '/findParameter',
              data: {
                paramName:'TASKTYPE'
              },
            }).then((res)=> {
              if(res.data.errorCode=='0000'){
                //_this.busiType=res.data.data
                _this.busiType = [{
                  paramKey:'',
                  paramValue:'全部'
                }].concat(res.data.data)
                //_this.busiType.shift()
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              this.$toast.error(err)
            });
            this.$axios({
              method: 'post',
              url: '/findParameter',
              data: {
                paramName:'TASKSTATUS'
              },
            }).then((res)=> {
              if(res.data.errorCode=='0000'){
                //_this.busiState=res.data.data
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              this.$toast.error(err)
            });
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              console.log(this.pageNo)
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              //this.num += 10;
              this.pageNo+=1
              this.getList()
            }, 1000)
          },
          setTaskType(val){
            this.taskType = val
          },
          setTaskSta(val){
            this.taskStatus = val
          },
          setTime(val){
            this.times = val
          }
        }
    }
</script>
<style scoped>
  .demo-loadmorecontent{
    margin-top: 58px;
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
  .mu-raised-button{
    min-width: 70px;
  }
</style>
