<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar style="width: 100%;" color="lightBlue900">
          <mu-button to="/business" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          任务详情
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-card style="width: 100%; margin: 68px auto;">
          <mu-card-header :title="'发布者：'+data1.creatorName" :sub-title="'截止日期：'+data1.expTime">
            <mu-avatar slot="avatar">
              <img src="../assets/images/bd.jpg">
            </mu-avatar>
          </mu-card-header>
          <mu-card-media :title="data1.taskName" :sub-title="data1.taskType=='1'?'全员任务':(data1.taskType=='2'?'团队任务':(data1.taskType=='3'?'定向任务':'抢单任务'))">
            <img src="../assets/images/rw.jpg">
          </mu-card-media>
          <mu-card-title title=""></mu-card-title>
          <mu-chip color="teal">
            <div v-if="data1.taskType!='2'">任务积分：{{data1.taskScore}}</div>
            <div v-if="data1.taskType=='2'&& $store.state.userInfo.roleId=='2'">领导积分：{{data1.leaderScore}}</div>
            <div v-if="data1.taskType=='2'&& $store.state.userInfo.roleId=='3'">成员积分：{{data1.memberScore}}</div>
          </mu-chip>
          <mu-chip color="primary">
            任务状态：{{data1.taskFinishStatus=='1'?'待审批':(data1.taskFinishStatus=='0'?'未完成':(data1.taskFinishStatus=='2'?'审批通过':(data1.taskFinishStatus=='3'?'审批不通过':(
            data1.taskFinishStatus=='8'?'抢单拒绝':( data1.taskFinishStatus=='9'?'抢单待审批':'')
            ))))}}
          </mu-chip>
          <mu-card-text>
            {{data1.taskDesc?data1.taskDesc:''}}
          </mu-card-text>
          <mu-card-actions v-if="this.$store.state.userInfo.roleId=='2' && data1.taskType=='2'">
            <mu-button @click="showQrcode" color="teal" flat>查看任务二维码</mu-button>
          </mu-card-actions>
          <mu-list>
            <mu-list-item v-for="(item,index) in fileLists" :key="index" button :ripple="false">
              <mu-list-item-action>
                <mu-icon value="inbox"></mu-icon>
              </mu-list-item-action>
              <mu-list-item-title>{{item.fileName}}</mu-list-item-title>
              <mu-list-item-action>
                <mu-button @click="downloadFile(item.fileId)" small color="success">下载</mu-button>
              </mu-list-item-action>

            </mu-list-item>
            <!--<mu-list-item button :ripple="false">-->
              <!--<mu-list-item-action>-->
                <!--<mu-icon value="inbox"></mu-icon>-->
              <!--</mu-list-item-action>-->
              <!--<mu-list-item-title>任务文件.doc</mu-list-item-title>-->
              <!--<mu-list-item-action>-->
                <!--<mu-button small color="success">查看</mu-button>-->
              <!--</mu-list-item-action>-->
            <!--</mu-list-item>-->
            <mu-list-item-action   v-if="data1.taskFinishStatus=='0'||data1.taskFinishStatus=='3'">
                <mu-button @click="toDoBusi()" to="/dobusi" full-width color="info">处理任务</mu-button>
            </mu-list-item-action>
          </mu-list>
        </mu-card>
      </mu-container>
      <mu-dialog title="任务二维码" width="360" :open.sync="openSimple">
        <!--<img width="100%" src="../assets/images/ecode.png"/>-->
        <div id="qrcode" ref="qrcode"></div>
        <mu-button slot="actions" flat color="primary" @click="()=>{this.openSimple=false}">关闭</mu-button>
      </mu-dialog>
    </div>
</template>
<script>
    import QRCode from 'qrcodejs2'
      export default {
        data() {
            return {
              data1:{},
              fileLists:[],
              openSimple: false,
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List'
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          QRCode
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getBusi()
          // alert( this.$store.state.userInfo.userName)
          //alert(this.$store.state.userInfo.roleId)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          toDoBusi(v){

          },
          showQrcode () {
            this.openSimple=true;
            console.log(this.$ReqUrl+'?taskId='+this.data1.taskId+'&leaderUserId='+this.$store.state.userInfo.userId)
            this.$nextTick(function () {
              let qrcode = new QRCode('qrcode', {
                width: 232,  // 设置宽度
                height: 232, // 设置高度
                text: this.$ReqUrl+'?taskId='+this.data1.taskId+'&leaderUserId='+this.$store.state.userInfo.userId
              })
            })
          },
          getBusi(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findTaskAuditDetail',
              data: {
                userId:this.$store.state.userInfo.userId,
                taskId:this.$store.state.currentData.taskId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.data1=res.data.data.task
                _this.fileLists = res.data.data.createFileList
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              _this.$toast.error(err)
            });
          },
          downloadFile (id){
            window.open(this.$publicUrl+'/downloadFile?fileId='+id)
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              this.num += 10;
            }, 1000)
          }
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
</style>
