<template>
    <div>
      <mu-paper  class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          <mu-button to="/myInfo" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          修改密码
        </mu-appbar>
          <mu-card-text>
            <mu-text-field prefix="原 密 码：" :action-icon="visibility ? 'visibility' : 'visibility_off'"
                           :action-click="() => (visibility = !visibility)" :type="visibility ? 'text' : 'password'"
                           v-model="reqData.oldPwd" label="password" solo full-width></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="新 密 码：" :action-icon="visibility1 ? 'visibility' : 'visibility_off'"
                           :action-click="() => (visibility1 = !visibility1)" :type="visibility1 ? 'text' : 'password'"
                            label="password" v-model="reqData.newPwd" solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="确认新密码：" v-model="confirmPwd"
                           :action-icon="visibility2 ? 'visibility' : 'visibility_off'"
                           :action-click="() => (visibility2 = !visibility2)" :type="visibility2 ? 'text' : 'password'"
                           label="password"
                           solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
          </mu-card-text>
          <mu-card-actions>
            <mu-button @click="modifyPassword" color="teal">保存</mu-button>
          </mu-card-actions>
      </mu-paper>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              visibility:false,
              visibility1:false,
              visibility2:false,
              confirmPwd: '',
              reqData:{
                oldPwd:'',
                newPwd:''
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          modifyPassword(){
            let _this = this
            if(_this.reqData.oldPwd==''){
              _this.$toast.warning('请输入原密码')
              return
            }else if(_this.reqData.newPwd==''){
              _this.$toast.warning('请输入新密码')
              return
            }else if(_this.reqData.newPwd!=_this.confirmPwd){
              _this.$toast.warning('两次密码不一致')
              return
            }
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/modifyPassword',
              data: {
                userId:this.$store.state.userInfo.userId,
                password:this.confirmPwd,
                oriPassword:this.reqData.oldPwd
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.$toast.success('密码修改成功，请用新密码登录')
                _this.$router.push('/')
                //_this.getDetail()
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          }
        }
    }
</script>
<style scoped>
  .nav-bottom{
    position: relative;
    bottom: 0;
  }
  .mu-input.has-label {
     min-height: 32px;
  }
</style>
