<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar style="width: 100%;" color="lightBlue900">
          <mu-button to="/busiDetail" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          处理任务
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-card style="width: 100%; margin-top: 68px;">
          <mu-paper class="demo-paper" :z-depth="2">
            <mu-card-text>
              <mu-text-field prefix="发布者：" :value="data1.creatorName" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="截止日期：" :value="data1.expTime" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="任务名称：" :value="data1.taskName" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="任务类型：" :value="data1.taskType=='1'?'全员任务':(data1.taskType=='2'?'团队任务':(data1.taskType=='3'?'定向任务':'抢单任务'))" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="任务积分：" v-model="data1.taskScore" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="领导积分：" v-model="data1.leaderScore" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <mu-text-field prefix="成员积分：" v-model="data1.memberScore" disabled solo full-width class="demo-divider-form"></mu-text-field>
              <mu-divider></mu-divider>
              <div style="margin-top: 16px;display: flex;flex-direction: row;">
                <span style="color:rgba(0,0,0,.54);font-size: 16px;">任务附件：</span>
                <input @change="getFile($event)" ref="selectFile" type="file" name="file[]"
                       multiple/>
              </div>
            </mu-card-text>
            <mu-button @click="commitBusi" full-width color="info">提交</mu-button>
          </mu-paper>
        </mu-card>

      </mu-container>

    </div>
</template>
<script>
    import QRCode from 'qrcodejs2'
      export default {
        data() {
            return {
              data1:{},
              fileLists:[],
              openSimple: false,
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              detailData:{},
              createFileList:[],
              chooseFiles:[]
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          QRCode
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getBusi()
          // alert( this.$store.state.userInfo.userName)
          //alert(this.$store.state.userInfo.roleId)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          getFile(e){
            this.chooseFiles=e.target.files
            console.log(e.target.files)
          },
          commitBusi(){
            let _this=this
            let begin = new Date();
            let end = new Date(this.data1.expTime);
            if(end<begin){
              _this.$toast.warning('已过任务截止日期，无法提交')
              return
            }
            if(this.chooseFiles.length<1 || this.chooseFiles.length==undefined){
              _this.$toast.warning('请选择任务附件')
              return
            }

            let fd = new FormData()
            for(let i=0;i<this.chooseFiles.length;i++){
              fd.append('files',this.chooseFiles[i])
            }
            fd.append('taskId',this.$store.state.currentData.taskId)
            fd.append('userId',this.$store.state.userInfo.userId)
            fd.append('taskSubmitDesc','')

            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/taskSubmit',
              data: fd,
              headers: {
                "Content-Type": "multipart/form-data"
              }
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.$toast.success('提交任务成功')

              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              _this.$toast.warning(err)
            });

          },
          showQrcode () {
            this.openSimple=true;
            console.log(this.$ReqUrl+'?taskId='+this.data1.taskId+'&leaderUserId='+this.$store.state.userInfo.userId)
            this.$nextTick(function () {
              let qrcode = new QRCode('qrcode', {
                width: 232,  // 设置宽度
                height: 232, // 设置高度
                text: this.$ReqUrl+'?taskId='+this.data1.taskId+'&leaderUserId='+this.$store.state.userInfo.userId
              })
            })
          },
          getBusi(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findTaskAuditDetail',
              data: {
                userId:this.$store.state.userInfo.userId,
                taskId:this.$store.state.currentData.taskId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.data1=res.data.data.task
                _this.fileLists = res.data.data.createFileList
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              _this.$toast.error(err)
            });
          },
          downloadFile (id){
            window.open(this.$publicUrl+'/downloadFile?fileId='+id)
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              this.num += 10;
            }, 1000)
          }
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
</style>
