<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar style="width: 100%;" color="lightBlue900">
          <mu-button to="/shop" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          商品详情
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-card style="width: 100%; margin: 68px auto;">
          <!--<mu-card-header title="发布人：李白" sub-title="2018/7/17-2018/9/17">-->
            <!--<mu-avatar slot="avatar">-->
              <!--<img src="../assets/images/bd.jpg">-->
            <!--</mu-avatar>-->
          <!--</mu-card-header>-->
          <mu-card-media style="margin-bottom: 1rem" :title="goodInfo.goodName">
            <img :src="goodInfo.goodImgPathUrl">
          </mu-card-media>
          <!--<mu-card-title title="任务状态：未完成"></mu-card-title>-->
          <mu-chip color="teal">
            所需积分：{{goodInfo.goodScore}}
          </mu-chip>
          <mu-chip color="primary">
            现有积分：{{ scores.validScore}}
          </mu-chip>
          <mu-card-text>
            商品描述：{{goodInfo.goodDesc}}
          </mu-card-text>
          <mu-card-text>
            <div>
              <mu-row align-items="center">
                <mu-col span="4"><label>兑换数量：</label></mu-col>
                <mu-col span="2">
                  <mu-button @click="goodNum>1?goodNum-=1:goodNum" style="width: 30px;height: 30px"  small fab color="red">
                    <mu-icon value="remove"></mu-icon>
                  </mu-button>
                </mu-col>
                <mu-col span="2">
                  <mu-text-field disabled style="width: 40px;" type="number" v-model="goodNum"></mu-text-field>
                </mu-col>
                <mu-col span="2">
                  <mu-button @click="goodNum+=1" style="width: 30px;height: 30px" small fab color="teal">
                    <mu-icon value="add"></mu-icon>
                  </mu-button>
                </mu-col>
              </mu-row>
            </div>
            <div>
              <label>收 件 人：</label><mu-text-field v-model="recvName"></mu-text-field>
            </div>
            <div>
              <label>手 机 号：</label><mu-text-field v-model="recvMobile"></mu-text-field>
            </div>
            <div>
              <label>收件地址：</label><mu-text-field v-model="recvAddress"></mu-text-field>
            </div>
          </mu-card-text>
          <mu-card-actions>
            <mu-button @click="confirmConvert" color="secondary"> 兑换商品
              <mu-icon right value="shopping_basket"></mu-icon>
            </mu-button>
          </mu-card-actions>
        </mu-card>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              phoneReg:/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/,
              goodNum:1,
              goodInfo:{
              },
              recvName:'',
              recvMobile:'',
              recvAddress:'',
              addInfo:{},
              data1:{},
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              scores:{}
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getDetail()
          this.getAddDetail()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              this.num += 10;
            }, 1000)
          },
          getDetail(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findGoodDetail',
              data: {
                goodId:this.$store.state.currentData.goodId,
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.goodInfo = res.data.data.good
                _this.scores =res.data.data.score
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              _this.$toast.error(err)
            });
          },
          getAddDetail(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findDeliveryDetail',
              data: {
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                let addInfo=res.data.data
                for(let i=0;i<addInfo.length;i++){
                  if(Number(addInfo[0].defaultStatus) == i){
                    this.recvName = addInfo[i].recvName
                    this.recvMobile = addInfo[i].recvMobile
                    this.recvAddress = addInfo[i].recvAddress
                  }
                }
                // this.recvName = res.data.data.recvName
                // this.recvMobile = res.data.data.recvMobile
                // this.recvAddress = res.data.data.recvAddress
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
          confirmConvert(){
            let totalPrice = Number(this.goodInfo.goodScore)*Number(this.goodNum)

            if((Number(this.scores.validScore)-totalPrice)<0 ){
              this.$toast.warning('积分不足')
              return
            }
            if(Number(this.goodNum)<1){
              this.$toast.warning('兑换数量不能小于1')
              return
            }
            if(this.recvName==''){
              this.$toast.warning('请输入收件人')
              return
            }
            if(this.recvMobile=='' || !this.phoneReg.test(this.recvMobile)){
              this.$toast.warning('请输入正确的手机号')
              return
            }
            if(this.recvAddress==''){
              this.$toast.warning('请输入收件人地址')
              return
            }
            this.$confirm('确定要用【'+Number(this.goodInfo.goodScore)*Number(this.goodNum)+'】积分，兑换【'+this.goodInfo.goodName+'】商品吗？', '提示', {
              type: ''
            }).then(({ result }) => {
              if (result) {
                //this.$toast.message('点击了确定');
                this.convertGood()
              } else {
                //this.$toast.message('点击了取消');
              }
            });
          },
          convertGood(){

            let _this = this
            let temp = Number(this.goodInfo.goodScore)*Number(this.goodNum)
            _this.$store.commit('setLoading',true)

            this.$axios({
              method: 'post',
              url: '/convertGood',
              data: {
                goodId:this.$store.state.currentData.goodId,
                userId:this.$store.state.userInfo.userId,
                consumeScore:temp,
                goodNum:this.goodNum,
                goodName:this.goodInfo.goodName,
                recvName:this.recvName,
                recvMobile:this.recvMobile,
                recvAddress:this.recvAddress
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                this.$toast.success('兑换成功')
                this.getDetail()
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          }
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
  .mu-card-media-title{
    padding: 2px;
  }
  .mu-input{
    width: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
</style>
