<template>
    <div>
      <mu-container class="wrapper">
        <div class="router-content">
          <router-view/>
        </div>
        <mu-bottom-nav exact-active-class="link-class" class="nav-bottom">
          <mu-bottom-nav-item to="/business" title="我的任务" icon="person_pin"></mu-bottom-nav-item>
          <mu-bottom-nav-item to="/shop" title="积分商城" icon="shopping_cart"></mu-bottom-nav-item>
          <mu-bottom-nav-item to="/integralRanking" title="积分榜" icon="flag"></mu-bottom-nav-item>
          <mu-bottom-nav-item to="/taskList" title="任务榜" icon="storage"></mu-bottom-nav-item>
          <mu-bottom-nav-item to="/myInfo" title="我的信息" icon="settings"></mu-bottom-nav-item>
        </mu-bottom-nav>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                v: '',
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
        }
    }
</script>
<style scoped>
  .wrapper{
    padding: 0;
  }
  .nav-bottom{
    position: fixed;
    bottom: 0;
    z-index: 10000;
  }
  .router-content{
    margin-bottom: 56px;
  }
  .mu-bottom-nav{
    width: 100%;
  }
  .link-class{
    color: #ccc;
  }
  .mu-bottom-item{
    min-width: 60px;
  }
  a {
    text-decoration: none;
    color: rgba(102, 102, 102, 0.8);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }
  .mu-bottom-item-active {
    padding-top: 6px;
    padding-bottom: 5px;
    color:#039be5;
  }

</style>
