<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
          <mu-appbar color="lightBlue900">
            积分榜
          </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
            <mu-list textline="two-line">
              <div v-for="(item,index) in data1">
                <mu-list-item avatar :ripple="false" button>
                  <mu-list-item-action>
                    <mu-avatar>
                      <img src="../assets/images/bd.jpg">
                    </mu-avatar>
                  </mu-list-item-action>
                  <mu-list-item-content>
                    <mu-list-item-title>{{item.realName}}</mu-list-item-title>
                    <mu-list-item-sub-title style="color: rgba(0, 0, 0, .87)">公司名称：{{item.branchComName}}</mu-list-item-sub-title>
                    <mu-list-item-sub-title>累计积分：{{item.totalScore}} </mu-list-item-sub-title>
                  </mu-list-item-content>
                  <mu-list-item-action >
                    <mu-list-item-after-text><span style="font-size: 14px">NO.{{item.rankNo}}</span></mu-list-item-after-text>
                    <mu-icon v-if="$store.state.userInfo.userId == item.userId" size="36" value="flag" color="pink"></mu-icon>
                  </mu-list-item-action>
                </mu-list-item>
                <mu-divider></mu-divider>
              </div>
            </mu-list>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              data1:{}
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getList()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          getList(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findScoreRank',
              data: {
                topSize:'20',
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.data1=res.data.data
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              this.num += 10;
            }, 1000)
          }
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    margin-top: 56px;
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
</style>
