<template>
  <div class="login-wrapper">
    <mu-appbar z-depth="1" color="lightBlue900" style="width: 100%;" title="登录"></mu-appbar>
      <mu-container style="width: 90%;margin-top: 2rem;">
        <img style="border-radius: 20px" width="90%" src="../assets/images/logo.jpeg" alt="">
        <mu-flex justify-content="center">
          <mu-text-field v-model="loginForm.userName" color="teal" full-width label="用户名" label-float help-text="用户名为6-12长度的字符" icon="account_circle"></mu-text-field><br/>
        </mu-flex>
        <mu-flex justify-content="center">
          <mu-text-field
            :action-icon="visibility1 ? 'visibility' : 'visibility_off'"
            :action-click="() => (visibility1 = !visibility1)" :type="visibility1 ? 'text' : 'password'"
             v-model="loginForm.password" color="teal" full-width label="密码" label-float help-text="请输入密码" icon="locked"></mu-text-field><br/>
        </mu-flex>
        <mu-flex justify-content="center">
          <mu-button @click="login" style="margin-top: 3rem" full-width round color="lightBlue900">
            登录
          </mu-button>
        </mu-flex>
      </mu-container>
  </div>
</template>
<script>
    export default {
      name: "login",
      data() {
        return {
          visibility1:false,
          loginForm:{
            userName: '',
            password: '',
            taskId:''
          }
        }
      },
      mounted:function(){
        this.getTask()
      },
      methods: {
        // 自定义方法
        getTask(){
          this.loginForm.taskId = this.$route.query.taskId ? this.$route.query.taskId : ''
          this.loginForm.leaderUserId = this.$route.query.leaderUserId ? this.$route.query.leaderUserId : ''
        },
        login(){
          let _this = this
          //this.form.captchaKey = this.captchaKey
          _this.$store.commit('setLoading',true)
          this.$axios({
            method: 'post',
            url: '/login',
            data: this.loginForm,
          }).then((res)=> {
            _this.$store.commit('setLoading',false)
            if(res.data.errorCode=='0000'){
              this.$store.commit('saveUserInfo',res.data.data.user)
              _this.$axios.defaults.headers.common['sessionId'] = res.data.data.sessionId;
              if(res.data.data.user.roleId=='1'){
                _this.$toast.warning('管理员权限无法登录')
              }else{
                this.$router.push('/index')
              }
            }else if(res.data.errorCode=='1001'){
              _this.$toast.warning('登录超时，请重新登录')
              setTimeout(()=>{_this.$router.push('/')},1500)
            }else{
              _this.$toast.warning(res.data.errorMsg)
            }
          }).catch(function (err) {
            this.$toast.error(err)
            _this.$store.commit('setLoading',false)
          });

        }
      }
    }
</script>
<style scoped>
  .login-wrapper{
    display: flex;
    align-items: center;
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    flex-direction: column;
  }
  .title{
    flex:1;
    padding-top: 3rem;
    color: #fff;
    text-align: center;
  }
  .title h1{
    flex: 1;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .login-form{
    flex: 2;
    width: 90%;
    height: 200px;
    /*background: #555b82;*/
  }
  .login-form input{
    margin-bottom: 1rem;
    padding: .3rem .6rem;
    width:100%;
    background: transparent;
    height: 1rem;
    outline:none;
    color: #fff;
    border-width:0 0 1px;
    font-size: 1.4rem;
  }
  .login-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .ico{
    width: 20px;
    margin-right: 1rem;
  }
  .input{
    flex: 1;
  }
  .login-btn {
    display: inline-block;
    width: 110%;
    border-radius: 5px;
    background-color: #0085e0;
    text-align: center;
    font-weight: bold;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
  }
  .login-btn:hover {
    background-color: #0085e0;
  }
  .login-btn:active {
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
</style>
