<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar style="width: 100%;" color="lightBlue900">
          <mu-button to="/myInfo" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          收货地址
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <div v-for="(item,index) in resData" :key="index">
          <mu-form :model="item" class="mu-demo-form" label-position="left" label-float="false">
            <mu-form-item prop="input" label="收货人:">
              <mu-text-field v-model="item.recvName"></mu-text-field>
            </mu-form-item>
            <mu-form-item prop="input" label="手机号码:">
              <mu-text-field v-model="item.recvMobile"></mu-text-field>
            </mu-form-item>
            <mu-form-item prop="input" label="收货地址:">
              <mu-text-field v-model="item.recvAddress"></mu-text-field>
            </mu-form-item>
            <mu-form-item prop="radio" label="">
              <mu-radio v-model="radio" :value="index" label="设置为收货地址"></mu-radio>
            </mu-form-item>
          </mu-form>
          <mu-divider></mu-divider>
        </div>
        <mu-button @click="save" color="teal">保存</mu-button>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              radio:null,
              phoneReg:/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/,
              resData:[{
                userId:this.$store.state.userInfo.userId,
                recvName:'',
                recvMobile:'',
                recvAddress:'',
                defaultStatus:''
              },{
                userId:this.$store.state.userInfo.userId,
                recvName:'',
                recvMobile:'',
                recvAddress:'',
                defaultStatus:''
              },{
                userId:this.$store.state.userInfo.userId,
                recvName:'',
                recvMobile:'',
                recvAddress:'',
                defaultStatus:''
              }],
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List'
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getDetail()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          save(){

            //return
            // if(this.data.recvName==''){
            //   this.$toast.warning('请输入收货人')
            //   return
            // }
            // if(this.data.recvAddress==''){
            //   this.$toast.warning('请输入收货地址')
            //   return
            // }
            // if(this.data.recvMobile==''|| !this.phoneReg.test(this.data.recvMobile)){
            //   this.$toast.warning('请输入正确的手机号码')
            //   return
            // }
            if(this.radio==0){
              if(this.resData[0].recvName==''){
                this.$toast.warning('请输入收获人姓名')
                return
              }
              if(this.resData[0].recvMobile=='' || !this.phoneReg.test(this.resData[0].recvMobile)){
                this.$toast.warning('请输入正确的手机号码')
                return
              }
              if(this.resData[0].recvAddress==''){
                this.$toast.warning('请输入收货地址')
                return
              }
            }
            if(this.radio==1){
              if(this.resData[1].recvName==''){
                this.$toast.warning('请输入收获人姓名')
                return
              }
              if(this.resData[1].recvMobile=='' || !this.phoneReg.test(this.resData[1].recvMobile)){
                this.$toast.warning('请输入正确的手机号码')
                return
              }
              if(this.resData[1].recvAddress==''){
                this.$toast.warning('请输入收货地址')
                return
              }
            }
            if(this.radio==2){
              if(this.resData[2].recvName==''){
                this.$toast.warning('请输入收获人姓名')
                return
              }
              if(this.resData[2].recvMobile=='' || !this.phoneReg.test(this.resData[2].recvMobile)){
                this.$toast.warning('请输入正确的手机号码')
                return
              }
              if(this.resData[2].recvAddress==''){
                this.$toast.warning('请输入收货地址')
                return
              }
            }
            let _this = this
            _this.$store.commit('setLoading',true)
            this.resData[0].defaultStatus = this.radio
            console.log(JSON.stringify(this.resData))
            this.$axios({
              method: 'post',
              url: '/saveDeliveryList',//saveDelivery
              data: this.resData,
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                this.$toast.success('保存成功')
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
          getDetail(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findDeliveryDetail',
              data: {
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){

                if(res.data.data.length>0){
                  this.radio = Number(this.resData[0].defaultStatus)
                  this.resData=res.data.data
                }
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              this.num += 10;
            }, 1000)
          }
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    margin-top: 58px;

    width: 96%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
  .demo-paper{
    margin: 6px 0;
  }
  .mu-form-item{
    margin-bottom: 6px;
    padding-bottom: 2px
  }
</style>
