<template>
    <div>
      <mu-paper  class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          我的信息
        </mu-appbar>
        <mu-list>
          <mu-list-item to="/myInfoDetail" button>
            <mu-list-item-action>
              <mu-icon value="inbox"></mu-icon>
            </mu-list-item-action>
            <mu-list-item-title>我的信息</mu-list-item-title>
          </mu-list-item>
          <mu-list-item to="/changePwd" button>
            <mu-list-item-action>
              <mu-icon value="drafts"></mu-icon>
            </mu-list-item-action>
            <mu-list-item-title>修改密码</mu-list-item-title>
          </mu-list-item>
          <mu-list-item to="/myRanking" button>
            <mu-list-item-action>
              <mu-icon value="send"></mu-icon>
            </mu-list-item-action>
            <mu-list-item-title>我的积分</mu-list-item-title>
          </mu-list-item>
          <mu-list-item to="/myAddress" button>
            <mu-list-item-action>
              <mu-icon value="location_on"></mu-icon>
            </mu-list-item-action>
            <mu-list-item-title>我的地址信息</mu-list-item-title>
          </mu-list-item>
          <mu-list-item to="/" button>
            <mu-button full-width color="red">
              登出
            </mu-button>
          </mu-list-item>
        </mu-list>
      </mu-paper>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                v: ''
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
        }
    }
</script>
<style scoped>
  .nav-bottom{
    position: relative;
    bottom: 0;
  }
</style>
