<template>
    <div>
      <mu-paper  class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          <mu-button to="/myInfo" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          我的信息
        </mu-appbar>
          <mu-card-header>
            <mu-avatar size="70" slot="avatar">
              <img src="../assets/images/bd.jpg">
            </mu-avatar>
          </mu-card-header>
          <!--<mu-card-title title="xxxx公司" sub-title="XX机构"></mu-card-title>-->
          <mu-card-text>
            <mu-text-field prefix="姓  名：" :value="data1.realName" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="用户类型：" :value="data1.roleId=='1'?'管理员':(data1.roleId=='2'?'团队负责人':'普通用户')" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="手机号码：" v-model="data1.mobilPhone" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="单位名称：" v-model="data1.branchComName" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="所属团组织：" v-model="data1.departName" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="累计积分：" :value="scores.totalScore!=null?scores.totalScore:'0'" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
            <mu-text-field prefix="可用积分：" :value="scores.validScore!=null?scores.validScore:'0'" disabled solo full-width class="demo-divider-form"></mu-text-field>
            <mu-divider></mu-divider>
          </mu-card-text>
      </mu-paper>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              data1: {
                userName:'',
                userStatus:'',
                mobilPhone:'',
                orgName:'',
                departName:'',
                validScore:'',
              },
              scores:{
                totalScore:'',
                validScore:''
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getDetail()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          ///modifyUser
          getDetail(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findUserDetail',
              data: {
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                _this.data1=res.data.data.user
                _this.scores = res.data.data.score
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
        }
    }
</script>
<style scoped>
  .nav-bottom{
    position: relative;
    bottom: 0;
  }
</style>
