<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          <mu-button to="/myInfo" icon slot="left">
            <mu-icon value="arrow_back"></mu-icon>
          </mu-button>
          我的积分
        </mu-appbar>
        <div class="chip-jf">
          <mu-chip color="green">
            <mu-avatar text-color="blue300" color="teal900" :size="32">T</mu-avatar>累计积分：{{scores.totalScore}}
          </mu-chip>
          <mu-chip color="blue300">
            <mu-avatar text-color="blue300" color="indigo900" :size="32">A</mu-avatar>可用积分：{{scores.validScore}}
          </mu-chip>
        </div>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-paper v-if="data1.length==0" class="demo-paper" :z-depth="1">
          <div style="color: #666; padding: 2rem">没有查到数据</div>
        </mu-paper>
        <mu-load-more :refreshing="refreshing" :loading="loading" @load="load">
          <mu-list textline="two-line" >
            <div v-for="item in data1">
              <mu-divider></mu-divider>
              <mu-list-item avatar button>
                <mu-list-item-content>
                  <mu-list-item-sub-title>交易时间：{{item.recordTime}}</mu-list-item-sub-title>
                  <mu-list-item-sub-title>分数：
                    <span v-if="Number(item.inOutScore)>0" style="font-size: 20px;color: green">{{Math.abs(item.inOutScore)}}</span>
                    <span v-if="Number(item.inOutScore)<0" style="font-size: 20px;color: lightcoral">{{Math.abs(item.inOutScore)}}</span>
                  </mu-list-item-sub-title>
                </mu-list-item-content>
                <mu-list-item-action>
                  <!--<router-link to="/logistics">-->
                    <mu-list-item-after-text v-if="item.orderId">有物流</mu-list-item-after-text>
                  <!--</router-link>-->
                  <mu-avatar text-color="#f9fbe7" :color="Number(item.inOutScore)>0?'green300':'red'" :size="32">{{Number(item.inOutScore)>0?'收':'支'}}</mu-avatar>
                </mu-list-item-action>
              </mu-list-item>
            </div>
          </mu-list>
        </mu-load-more>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              pageNo:1,
              data1:[],
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              scores:{}
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getList()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法

          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              //this.num += 10;
              this.pageNo+=1
              this.getList()
            }, 1000)
          },
          getList(){
            let _this = this
            _this.$store.commit('setLoading',true)
            _this.open=false
            this.$axios({
              method: 'post',
              url: '/findScoreInOut',
              data: {
                pageNo:this.pageNo,
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                //_this.data1=res.data.data.dataList
                let temp=res.data.data.dataList
                for(let i=0;i<temp.length;i++){
                  _this.data1.push(temp[i])
                }
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
            this.$axios({
              method: 'post',
              url: '/findUserScore',
              data: {
                userId:this.$store.state.userInfo.userId
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                this.scores = res.data.data
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    width: 100%;
    z-index: 10;
    margin-top: 102px;
  }
  .chip-jf{
    padding: 10px 0;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
</style>
