<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          积分商城
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-load-more :refreshing="refreshing" :loading="loading" @load="load">
          <mu-list textline="two-line">
            <div v-for="item in data1">
              <mu-list-item class="shop" @click="toDetail(item)" avatar :ripple="false" button>
                <mu-list-item-action style="margin-right: 1rem">
                  <mu-avatar size="66">
                    <img :src="item.goodImgPathUrl">
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-content>
                  <mu-list-item-title>{{item.goodName}}</mu-list-item-title>
                  <mu-list-item-sub-title style="color: rgba(0, 0, 0, .87)">所需积分：<span style="color: #f44336;font-size: 16px">{{item.goodScore}}</span> </mu-list-item-sub-title>
                  <mu-list-item-sub-title style='width:200px'>{{item.goodDesc}}</mu-list-item-sub-title>
                </mu-list-item-content>
                <!--<mu-list-item-action >-->
                  <!--<mu-list-item-after-text>15 min</mu-list-item-after-text>-->
                  <!--<mu-checkbox color="yellow700" value="value1" uncheck-icon="star_border" checked-icon="star"></mu-checkbox>-->
                <!--</mu-list-item-action>-->
              </mu-list-item>
              <mu-divider></mu-divider>
            </div>
          </mu-list>
        </mu-load-more>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              pageNo:1,
              data1:[],
              num:10,
              list:10,
              colNo:2,
              refreshing: false,
              loading: false,
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getList()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          toDetail(val){
            this.$store.commit('setCurrentData',val)
            this.$router.push('goodsDetail')
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              //this.num += 10;
              this.pageNo+=1
              this.getList()
            }, 1000)
          },
          getList(){
            let _this = this
            _this.$store.commit('setLoading',true)
            this.$axios({
              method: 'post',
              url: '/findGoodList',
              data: {
                pageNo:this.pageNo
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                let temp=res.data.data.dataList
                for(let i=0;i<temp.length;i++){
                  _this.data1.push(temp[i])
                }
                //_this.data1=res.data.data.dataList
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
        }
    }
</script>
<style scoped>

  .demo-loadmore-content{
    margin-top: 58px;
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
  .mu-avatar img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: block;
  }
  .mu-list-two-line .mu-item{
    height: 100px;
  }
</style>
