<template>
  <div>
    <mu-paper :z-depth="1" class="demo-list-wrap">
      <mu-appbar style="width: 100%;" color="lightBlue900">
        <mu-button to="/taskList" icon slot="left">
          <mu-icon value="arrow_back"></mu-icon>
        </mu-button>
        抢单任务详情
      </mu-appbar>
    </mu-paper>
    <mu-container class="demo-loadmore-content">
      <mu-card style="width: 100%; margin: 68px auto;">
        <mu-card-header :title="'发布人：'+data1.creatorName" :sub-title="'截止日期：'+data1.expTime">
          <mu-avatar slot="avatar">
            <img src="../assets/images/bd.jpg">
          </mu-avatar>
        </mu-card-header>
        <mu-card-media :title="data1.taskName" :sub-title="'任务类型：'+data1.taskType=='1'?'全员任务':(data1.taskType=='2'?'团队任务':(data1.taskType=='3'?'定向任务':'抢单任务'))">
          <img src="../assets/images/rw.jpg">
        </mu-card-media>
        <!--<mu-card-title title="任务名称"></mu-card-title>-->
        <mu-card-text>
          {{data1.taskDesc?data1.taskDesc:''}}
        </mu-card-text>
        <mu-list>
          <mu-list-item v-for="(item,index) in fileLists" :key="index" button :ripple="false">
            <mu-list-item-action>
              <mu-icon value="inbox"></mu-icon>
            </mu-list-item-action>
            <!--<mu-list-item-sub-title></mu-list-item-sub-title>-->
            <mu-list-item-title>{{item.fileName}}</mu-list-item-title>
            <mu-list-item-action>
              <mu-button @click="downloadFile(item.fileId)" small color="success">下载</mu-button>
            </mu-list-item-action>
          </mu-list-item>
        </mu-list>
        <mu-card-actions v-if="data1.grabStatus=='1'">
          <mu-button @click="grabTask" color="teal">抢任务</mu-button>
        </mu-card-actions>
      </mu-card>
    </mu-container>
    <mu-dialog title="任务二维码" width="360" :open.sync="openSimple">
      <img width="100%" src="../assets/images/ecode.png"/>
      <mu-button slot="actions" flat color="primary" @click="()=>{this.openSimple=false}">关闭</mu-button>
    </mu-dialog>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        data1:{},
        fileLists:[],
        openSimple:false,
        refreshing: false,
        loading: false,
        active1: 0,
        num:10,
        text: 'List'
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.getBusi()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      grabTask(){
        let _this = this
        _this.$store.commit('setLoading',true)
        this.$axios({
          method: 'post',
          url: '/grabTask',
          data: {
            taskId:this.$store.state.currentData.taskId,
            userId:this.$store.state.userInfo.userId
          },
        }).then((res)=> {
          _this.$store.commit('setLoading',false)
          if(res.data.errorCode=='0000'){
            _this.$toast.success('抢单成功')
          }else if(res.data.errorCode=='1001'){
            _this.$toast.warning('登录超时，请重新登录')
            setTimeout(()=>{_this.$router.push('/')},1500)
          }else{
            _this.$toast.warning(res.data.errorMsg)
          }
        }).catch(function (err) {
          _this.$store.commit('setLoading',false)
          this.$toast.error(err)
        });
      },
      getBusi(){
        let _this = this
        _this.$store.commit('setLoading',true)
        this.$axios({
          method: 'post',
          url: '/findTaskDetail',
          data: {
            taskId:this.$store.state.currentData.taskId
          },
        }).then((res)=> {
          _this.$store.commit('setLoading',false)
          if(res.data.errorCode=='0000'){
            _this.data1=res.data.data.task
            _this.fileLists = res.data.data.createFileList
          }else if(res.data.errorCode=='1001'){
            _this.$toast.warning('登录超时，请重新登录')
            setTimeout(()=>{_this.$router.push('/')},1500)
          }else{
            _this.$toast.warning(res.data.errorMsg)
          }
        }).catch(function (err) {
          _this.$store.commit('setLoading',false)
          this.$toast.error(err)
        });
      },
      refresh () {
        this.refreshing = true;
        this.$refs.container.scrollTop = 0;
        setTimeout(() => {
          this.refreshing = false;
          this.text = this.text === 'List' ? 'Menu' : 'List';
          this.num = 10;
        }, 1000)
      },
      downloadFile (id){
        window.open(this.$publicUrl+'/downloadFile?fileId='+id)
      },
      load () {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.num += 10;
        }, 1000)
      }
    }
  }
</script>
<style scoped>
  .demo-loadmore-content{
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
  .mu-item-sub-title, .mu-item-title {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
</style>
