<template>
    <div>
      <mu-paper :z-depth="1" class="demo-list-wrap">
        <mu-appbar color="lightBlue900">
          任务悬赏
        </mu-appbar>
      </mu-paper>
      <mu-container class="demo-loadmore-content">
        <mu-paper v-if="data1.length==0" class="demo-paper" :z-depth="1">
          <div style="color: #666; padding: 2rem">没有查到数据</div>
        </mu-paper>
          <mu-load-more :refreshing="refreshing" :loading="loading" @load="load">
            <mu-list textline="two-line">
              <div v-for="item in data1">
                <mu-list-item @click="toDetail1(item)" avatar :ripple="false" button>
                  <mu-list-item-content>
                    <mu-list-item-title>{{item.taskName}}</mu-list-item-title>
                    <mu-list-item-sub-title style="font-size: 12px">发布人：{{item.creatorName}} </mu-list-item-sub-title>
                    <mu-list-item-sub-title style="font-size: 12px">截止日期：{{item.expTime}} </mu-list-item-sub-title>
                  </mu-list-item-content>
                  <mu-list-item-action >
                    <mu-list-item-after-text style="color: green;font-size: 20px" v-if="item.grabStatus=='1'">
                      <mu-button round small color="success">未结束</mu-button>
                    </mu-list-item-after-text>
                    <mu-list-item-after-text style="color:red;font-size: 18px;font-weight: 700" v-if="item.grabStatus=='0'">
                      <mu-button round small color="red">已结束</mu-button>
                    </mu-list-item-after-text>
                    <span v-show="item.taskFinishStatus=='1'" style="color:green">待审批</span>
                    <span v-show="item.taskFinishStatus=='0'" style="color:red">抢单通过</span>
                    <span v-show="item.taskFinishStatus=='2'" style="color:green">审批通过</span>
                    <span v-show="item.taskFinishStatus=='3'" style="color:red">审批不通过</span>
                    <span v-show="item.taskFinishStatus=='9'" style="color:red">抢单待审批</span>
                    <span v-show="item.taskFinishStatus=='8'" style="color:red">抢单拒绝</span>
                    <!--<span style="font-size: 14px;width: 100%;text-align: center;">{{item.taskFinishStatus=='9'?'抢单待审批':(item.taskFinishStatus=='8'?'抢单拒绝':(item.taskFinishStatus=='0'?'抢单通过':''))}}</span>-->
                    <!--<mu-button small color="success">查看</mu-button>-->
                  </mu-list-item-action>
                </mu-list-item>
                <mu-divider></mu-divider>
              </div>
            </mu-list>
          </mu-load-more>
      </mu-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
              pageNo:1,
              refreshing: false,
              loading: false,
              active1: 0,
              num:10,
              text: 'List',
              data1:[]
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.getList()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          toDetail1(val){
            console.log(JSON.stringify(val))
            if(val.grabStatus=='0'){
              this.$toast.warning('该任务已停止抢单')
              return
            }
            this.$router.push('taskDetail')
            this.$store.commit('setCurrentData',val)
          },
          refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
              this.refreshing = false;
              this.text = this.text === 'List' ? 'Menu' : 'List';
              this.num = 10;
            }, 1000)
          },
          load () {
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
              //this.num += 10;
              this.pageNo+=1
              this.getList()
            }, 1000)
          },
          getList(){
            let _this = this
            _this.$store.commit('setLoading',true)
            _this.open=false
            this.$axios({
              method: 'post',
              url: '/findTaskList',
              data: {
                pageNo:this.pageNo,
                taskStatus:'1',//任务状态
                taskType:'4',//任务类型
              },
            }).then((res)=> {
              _this.$store.commit('setLoading',false)
              if(res.data.errorCode=='0000'){
                let temp=res.data.data.dataList
                for(let i=0;i<temp.length;i++){
                  _this.data1.push(temp[i])
                }
                //_this.data1=res.data.data.dataList
              }else if(res.data.errorCode=='1001'){
                _this.$toast.warning('登录超时，请重新登录')
                setTimeout(()=>{_this.$router.push('/')},1500)
              }else{
                _this.$toast.warning(res.data.errorMsg)
              }
            }).catch(function (err) {
              _this.$store.commit('setLoading',false)
              this.$toast.error(err)
            });
          },
        }
    }
</script>
<style scoped>
  .demo-loadmore-content{
    margin-top: 58px;
    width: 100%;
    z-index: 10;
  }
  .demo-list-wrap{
    position: fixed;
    width: 100%;
    z-index: 20;
    top:0;
  }
</style>
